.button {
    -fx-background-color: #3C1A1C; /* Darker background color */
}

.button:hover {
    -fx-background-color: #2B1011; /* Darker hover color */
}

.button:pressed {
    -fx-background-color: #A63235; /* Darker pressed color */
}

.window {
    -fx-background-color: #1C1C1C; /* Darker background color */
}

.window-title {
    -fx-background-color: #333333; /* Darker title bar background color */
    -fx-text-fill: #FFFFFF; /* Lighter title bar text color */
}

.window-buttons {
    -fx-background-color: #333333; /* Darker buttons background color */
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size: 20;
    -fx-background-color: #1A4A6F; /* Darker header background color */
}

.table-view .column-header .label {
    -fx-text-fill: white; /* Lighter text color */
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}

.table-view .cell {
    -fx-cell-size: 30;
    -fx-alignment: center-left;
    -fx-text-fill: #FFFFFF; /* Lighter text color */
    -fx-alignment: CENTER_LEFT;
}

.table-row-cell:selected {
    -fx-background-color: rgb(80, 120, 150); /* Darker selected row color */
}

.table-row-cell:selected .text {
    -fx-fill: white; /* Lighter text color */
}

/* Scrollbar styles */

/* Increment and decrement button CSS class of scrollbar */
.table-view .increment-button,
.table-view .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 2em;
}

/* Main scrollbar track CSS class */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: derive(#1A4A6F, 80%);
    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
}

/* Main scrollbar thumb CSS class */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: derive(#1A4A6F, 90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

/* Chart properties */

.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}
