@font-face {
    -fx-font-family: 'Roboto';
    src: url('RobotoRegular.ttf');
}

.lateral_btn
{
    -fx-background-color : #3C486B;
}
.lateral_btn:hover
{
    -fx-background-color : #5b6da4;
    -fx-cursor: hand;
}
.lateral_btn:selected
{
    -fx-background-color : #7c98e1;
    -fx-cursor: hand;
}

.window {
    -fx-background-color: #ffffff; /* Background color */
}

.window-title {
    -fx-text-fill: #fafafa; /* Title bar text color */
    -fx-font-family: "Roboto";
}

.window-buttons {
    -fx-border-radius: 0; /* No border radius */
    -fx-background-color: transparent; /* Transparent background */
}

.window-buttons:hover {
    -fx-background-color: #747ec5; /* Yellow background on hover */
    -fx-cursor: hand; /* Change cursor on hover */
}

.calculate_pane{
    -fx-padding: 10px;
}

.toggle_r, .toggle_t, .toggle_s {
    -fx-background-color: #3C486B;
    -fx-text-fill: #f9d949;
    -fx-font-family: 'Roboto';
}

.toggle_r:hover, .toggle_t:hover, .toggle_s:hover {
    -fx-cursor: hand; /* Change cursor on hover */
}

.toggle_r:selected, .toggle_t:selected, .toggle_s:selected {
    -fx-background-color: #f9d949;
    -fx-text-fill: #3C486B;
}


.calculate {
    -fx-background-color : #2e7b26;
    -fx-text-fill: white;
    -fx-font-family: 'Roboto';
}

.calculate:hover {
    -fx-background-color : #3c9c35;
    -fx-cursor: hand;
}

.calculate:pressed {
    -fx-background-color : #4dbf4a;
    -fx-cursor: hand;
}

/* Define the striped pattern */
.root-bg {
    -fx-background-color: #fafafa;
}
