@font-face {
    -fx-font-family: 'Roboto';
    src: url('RobotoRegular.ttf');
}

.lateral_btn
{
    -fx-background-color : #3C486B;
}
.lateral_btn:hover
{
    -fx-background-color : #5b6da4;
    -fx-cursor: hand;
}
.lateral_btn:selected
{
    -fx-background-color : #7c98e1;
    -fx-cursor: hand;
}

.window {
    -fx-background-color: #ffffff; /* Background color */
}

.window-title {
    -fx-text-fill: #fafafa; /* Title bar text color */
    -fx-font-family: "Roboto";
}

.window-buttons {
    -fx-border-radius: 0; /* No border radius */
    -fx-background-color: transparent; /* Transparent background */
}

.window-buttons:hover {
    -fx-background-color: #747ec5; /* Yellow background on hover */
    -fx-cursor: hand; /* Change cursor on hover */
}

.calculate_pane{
    -fx-padding: 10px;
}

.toggle_r, .toggle_t, .toggle_s {
    -fx-background-color: #3C486B;
    -fx-text-fill: #f9d949;
    -fx-font-family: 'Roboto';
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

.toggle_r:hover, .toggle_t:hover, .toggle_s:hover {
    -fx-cursor: hand; /* Change cursor on hover */
}

.toggle_r:selected, .toggle_t:selected, .toggle_s:selected {
    -fx-background-color: #f9d949;
    -fx-text-fill: #3C486B;
}

.result_plots {
    -fx-alignment: center;
    -fx-border-radius: 5px;
}

.result_plots_2 {
    -fx-alignment: center;
    -fx-border-radius: 5px;
}

.title_result {
    -fx-alignment: center;
    -fx-font-family: 'Roboto';
    -fx-font-size: 20px;
    -fx-text-fill: #7c98e1;
}

.title_div{
    -fx-alignment: top-center;
}

.matlab_integral {
    -fx-background-color: #3c6b4b;
    -fx-text-fill: white;
    -fx-font-family: 'Roboto';
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-alignment: center;
}

.method_integral {
    -fx-background-color: #3C486B;
    -fx-text-fill: white;
    -fx-font-family: 'Roboto';
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-alignment: center;
}

.matlab_integral_lbl {
    -fx-font-family: 'Roboto';
    -fx-font-size: 24px;
    -fx-text-fill: #fafafa;
    -fx-alignment: center;
}

.div_func {
    -fx-font-family: 'Roboto';
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-alignment: center;
}

.calculate {
    -fx-background-color : #2e7b26;
    -fx-text-fill: white;
    -fx-font-family: 'Roboto';
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

.get_started_btn {
    -fx-background-color : #f9d949;
    -fx-text-fill: #3C486B;
    -fx-font-family: 'Roboto';
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

.get_started_btn:hover {
    -fx-cursor: hand; /* Change cursor on hover */
    -fx-background-color: #3C486B;
    -fx-text-fill: #f9d949;
}

.get_started_btn:pressed {
    -fx-background-color: #f9d949;
    -fx-text-fill: #3C486B;
}

.zoom {
    -fx-background-color: #f9d949;
    -fx-text-fill: #3C486B;
    -fx-font-family: 'Roboto';
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

.zoom:hover {
    -fx-cursor: hand; /* Change cursor on hover */
}

.zoom:pressed {
    -fx-background-color: #3C486B;
    -fx-text-fill: #ffeb99;
}

.calculate:hover {
    -fx-background-color : #3c9c35;
    -fx-cursor: hand;
}

.calculate:pressed {
    -fx-background-color : #4dbf4a;
    -fx-cursor: hand;
}

.dialog-pane {
    -fx-background-color: #3C486B;
    -fx-font-size: 16px;
    -fx-border-color: #fafafa;
    -fx-border-width: 2px;
}

.dialog-pane .button {
    -fx-background-color:
            linear-gradient(#f9d949, #d3ff4e),
            radial-gradient(center 50% -40%, radius 200%, #f9d949 45%, #d3ff4e 50%);
    -fx-background-radius: 6;
    -fx-background-insets: 0;
    -fx-text-fill: black;
}

.welcome {
    -fx-text-fill: #3C486B;
    -fx-background-color: #fafafa;
    -fx-font-family: "Roboto";
    -fx-font-size: 28px; /* Font size */
    /* Set full width */
    -fx-alignment: center;
}

.welcome2 {
    -fx-text-fill: #3C486B;
    -fx-background-color: #dedede;
    -fx-font-family: "Roboto";
    -fx-font-size: 24px; /* Font size */
    /* Set full width */
    -fx-alignment: center;
}

.image_box {
    -fx-alignment: center;
}

.welcome3 {
    -fx-text-fill: #3C486B;
    -fx-background-color: #fafafa;
    -fx-font-family: "Roboto";
    -fx-font-size: 24px; /* Font size */
    /* Set full width */
    -fx-alignment: center;
}


.dialog-pane .button:hover {
    -fx-background-color:
            linear-gradient(#f9d949, #d3ff4e);
}

.dialog-pane .button:pressed {
    -fx-background-color:
            linear-gradient(#f9d949, #d3ff4e);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.dialog-pane .content-text {
    -fx-text-fill: #fafafa; /* Red color */
    -fx-font-family: "Roboto";
    -fx-font-size: 16px; /* Font size */
}

.result_div {
    -fx-alignment: center;
}

.isDivergent {
    -fx-background-color: #ff0000;
    -fx-text-fill: #fafafa;
    -fx-font-family: 'Roboto';
    -fx-font-size: 16px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-alignment: center;

}

.scrollpane_div {
    -fx-alignment: center;
    -fx-background-color: #fafafa;
    -fx-border: 0;
}

/* Define the striped pattern */
.root-bg {
    -fx-background-color: #fafafa;
}

